body {
  width: auto;
  height: 100vh;
  box-sizing: border-box;
}
.app {
  height: 100%;
  width: 100%;
}
.app-container {
  height: 100%;
  width: auto;
}

/* =========NAV BAR CSS========== */
.nav-container {
  width: 100%;
  height: 15%;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.nav-browse {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15%;
  margin-left: 35px;
}
hr.nav-rule {
  height: 18px;
}

.nav-users-menu {
  display: flex;
  flex-direction: row;
  width: 15%;
  align-items: center;
  margin-right: 35px;
}

.nav-users-menu hr {
  margin: 0 30px;
}

.nav-user {
  display: flex;
}

img.small-icon {
  height: 25px;
  width: 25px;
  border-radius: 11px;
}

.user-notification {
  background-color: red;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  z-index: 1;
  margin-left: -7px;
  margin-top: -4px;
  border: 2px solid white;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-menu span {
  padding-left: 8px;
  font-size: 14px;
}

/* =========CAROUSEL CSS========== */
.carousel {
  margin-bottom: 85px;
}

.carousel-book-wrapper:first-of-type:not(.is-selected) .carousel-book-content {
  background-color: seagreen;
}

.carousel-book-wrapper .carousel-book-content {
  background-color: royalblue;
}

.is-selected .carousel-book-content {
  background-color: red;
}

.is-selected + .carousel-book-wrapper .carousel-book-content {
  background-color: seagreen;
}

.carousel-book-wrapper {
  width: 43%;
  height: 250px;
  margin-right: 3px;
  display: flex;
  flex-direction: column;
}

.carousel-book-wrapper:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
}

.carousel-book-content {
  width: 100%;
  height: 80%;
  display: flex;
  overflow: visible;
  background-color: white;
}

.carousel-book-photo {
  height: 110%;
  width: auto;
  margin: 13px;
  box-shadow: 5px 5px 11px -2px;
}

.carousel-transparent {
  height: 20px;
  width: 100%;
  background-color: transparent;
}

/* =========MAIN VIEW CSS========== */

.main {
  display: flex;
  flex-direction: row;
}

/*~~~~~~~ SIDEBAR ~~~~~~~*/
.side-highlights {
  width: 20%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.authors-container {
  margin-bottom: 15%;
}

.small-book-photo {
  height: 53px;
  width: 34px;
  margin: 0 15px 18px 0;
  box-shadow: 1px 2px 11px -2px;
}

.book-author-info-holder {
  align-self: center;
  padding-bottom: 17px;
  width: 47%;
}

.book-name-photo-holder {
  display: flex;
  font-size: 13px;
}

.book-author-info-holder p {
  padding: 5px 0 0 0;
  color: #a2a7ad;
  margin: 0;
}

.books-view {
  width: 80%;
}
